#container
{
	width: 900px;
	margin: 0 auto;
}
#header
{
	height: 60px;
	background-color:#e0f1f9;
}
#header div
{
	float: left;
}
#header .logo
{
	float: left;
	width: 450px;
}
#hearder .nav
{
	margin-left: 10px;
}
#header .nav li
{
	display: inline;
	font-size: 18px;
	color:#1a4eb1;
	cursor:pointer;
	float: left;
	margin-left: 5px;
}
#header .nav li a
{
	text-decoration: none;
	font-family: 仿宋;
}
#header .nav li a:hover
{
	color:#1a4eb1;
}
#header .search
{
	margin-top: 17px;
	margin-left: 10px;
}
#header .search input
{
	font-family: 微软雅黑;
}
#classify
{
	background-color:#70b305;
	height:40px;
	margin-top: -5px;
}
#classify nav
{
	margin-left: 115px;
}
#classify  li
{
	display: inline;
	font-size: 18px;
	cursor:pointer;
	float: left;
	margin-left: 20px;
	margin-top:10px;
}
#classify  li a
{
	text-decoration: none;
	font-family: 宋体;
	color: white;
}
#classify  li a:hover
{
	color:#1a4eb1;
}
#rank
{
	height: 25px;
	width: 900px;
	background-color: #ffdeb7;
	margin-top: -5px;
}
#rank li
{
	float: left;
	display: inline;
	margin-left: 50px;
	cursor:pointer;
}
#rank li a
{
	text-decoration: none;
	color: #744f00;
}
#rank li a:hover
{
    color:#6aaa05;
    text-decoration: none;
}
/*#blank div
{
	height:40px;
}
#blank1
{
	background-color: #f9fff0;
}
#blank2
{
	background-color: #eeffd9;
}
#blank3
{
	background-color: #f9fff0;
}*/
#gamelist .game
{
	float: left;
	height: 210px;
	width: 220px;
	margin-left: 2px;
	margin-top: 5px;
	background-color: ;
}
#gamelist li
{
	display: inline;
	border: 1px solid#ccc;
	background-color:#f5f5f5;
}
#gamelist .gamename
{
	background-color:#fdf7e7;
	height:39px;
}
#gamelist .gamename p
{
	margin-top: 0px;
}
#gamelist .gamename em a
{
	width: 100px;
	margin-left: 10px;
	line-height: 30px;
	text-decoration: none;
	font-family: Times New Roman;
	font-size: 12pt;
	cursor:pointer;
	color:#db6301;
}
#gamelist .gamename em a:hover
{
	color:#6aaa05;
}
#gamelist .gamename span a
{
	width:100px;
	margin-left: 50px;
	cursor:pointer;
	text-decoration: none;
	color:#a93b3f;
}
#gamelist .gamename span a:hover
{
	color:#6aaa05;
}
#gamelist .pic
{
	width:218px;
	height:170px;
	border: 1px solid#eeffd9;
}